# C#
*.cs linguist-language=C#
*.csx linguist-language=C#

# HTML
*.html linguist-language=HTML

# JavaScript
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# PowerShell
*.ps1 linguist-language=PowerShell
*.psm1 linguist-language=PowerShell
