*.cs linguist-detectable=true
*.csx linguist-detectable=true
*.html linguist-detectable=true
*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.ps1 linguist-detectable=true
*.psm1 linguist-detectable=true

/docs/** linguist-documentation=false
